.view-container{
    position: relative;
    min-height: 90%;
    overflow-x : hidden;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;

    left: 0px;
    right: 0px;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    transition:  1s  all ease-in-out;
}
[ui-view].ng-enter {
    -webkit-animation:slideInRight 1s both ease-in-out;
    -moz-animation:slideInRight 1s both ease-in-out;
    animation:slideInRight 1s both ease-in-out;
}

[ui-view].ng-leave {
    -webkit-animation:slideOutLeft 1s both ease-in-out;
    -moz-animation:slideOutLeft 1s both ease-in-out;
    animation:slideOutLeft 1s both ease-in-out;
}
@keyframes slideOutLeft {
    from    { transform: translateX(0); }
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    from    { -moz-transform: translateX(0); }
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    from    { -webkit-transform: translateX(0); }
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

